

.container {
    width: 960px;
    margin: 0 auto;
}

.tabs {
    display: flex;
    justify-content: space-between;
}

.tabs button {
    background-color: lightgray;
    border: 2px solid #720240;
    color: black;
    cursor: pointer;
    padding: 25px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease-out;
}

.tabs button:hover {
    background-color: rgba(255, 255, 255);
}

.tabs button:disabled {
    background: linear-gradient(245.39deg, #F26E83 -35.14%, #720240 143.06%);
    color: white;
}

.title {
    color: black;
    font-size: medium;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.content {
    padding: 50px 80px;
    background-color: white;
    font-weight: 300;
    line-height: 30px;
    font-size: 16px;
    text-align: justify;
}

.content {
    font-size: 15px;
}

.content button {
    font-size: 15px;
}



@media only screen and (max-width: 960px) {

    .container {
        width: 100%;
    }

    .content {
        padding: 50px;
    }
}