

.logodiv{
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 3;
    background: white;
    margin-left: 0px;
    margin-top: 0px;
    transition: all 2s;
}

.logoSmall{
    position: absolute;
    margin-left: 80%;
    margin-top: 30%;
    width: 200px;
    height: 200px;
    z-index: 3;
    background: white;
    transition: all 2s;
}

.logoSVG:hover{
    animation: mymove 5s 1;
}

@keyframes mymove {
    100% {transform: rotate(360deg);}
}

@media screen and (max-width:1200px) {
    .logodiv{
        width: 220px;
        height: 220px;
        
    }
    .logoSmall{
        position: absolute;
        margin-left: 80%;
        margin-top: 55%;
        width: 150px;
        height: 150px;
        z-index: 3;
        background: white;
        transition: all 2s;
    }
}


@media screen and (max-width:1000px) {
    .logodiv{
        width: 220px;
        height: 220px;
        
    }
    .logoSmall{
        display: none;
    }
}

@media screen and (max-width:700px) {
    .logodiv{
        width: 200px;
        height: 200px;
    }


    .logoSmall{
        display: flex;
        position: absolute;
        width: 120px;
        height: 120px;
        z-index: 3;
        background: white;
        margin-left: 60%;
        margin-top: 600px;
        transition: all 2s;
    }
}

@media screen and (max-width:350px) {
    .logoSmall{
        position: absolute;
        width: 100px;
        height: 100px;
        z-index: 3;
        background: white;
        margin-left: 60%;
        margin-top: 650px;
        transition: all 2s;
    }
}